body {
	font-family: Arial;
}

.centered {
  text-align: center;
}


.flexrow {
  display: flex;
}


#flexcolumn1 {
  flex: 33%;
}


#flexcolumn2 {
  flex: 33%;
}

#flexcolumn3 {
  flex: 34%;
}

.chart-header {
	font-family: Arial;
    font-weight: bold;
    font-size: 18px;
}

.point {
  fill: mediumpurple;
  r: 5px;
}

.setosa {
	fill: lightseagreen;
	opacity: 50%;
	r: 5px
}

.versicolor {
	fill: darkred;
	opacity: 50%;
	r: 5px
}

.virginica {
	fill: blue;
	r: 5px;
	opacity: 50%;
}

.bar{
  fill: skyblue;
}

.selected {
	stroke: orange;
  	stroke-width: 3px;
  	opacity: 1 !important;
}