body {
	font-family: Arial;
}

.centered {
  text-align: center;
}


.flexrow {
  display: flex;
}


#flexcolumn1 {
  flex: 33%;
}


#flexcolumn2 {
  flex: 33%;
}

#flexcolumn3 {
  flex: 34%;
}

.chart-header {
	font-family: Arial;
    font-weight: bold;
    font-size: 18px;
}

.point {
  fill: mediumpurple;
  r: 5px;
}

.setosa {
	fill: lightseagreen;
	opacity: 30%;
	r: 5px
}

.versicolor {
	fill: yellowgreen;
	opacity: 30%;
	r: 5px
}

.virginica {
	fill: blue;
	opacity: 30%;
	r: 5px
}

.bar{
  fill: skyblue;
}

.selected {
	stroke: darkorange;
  	stroke-width: 2px;
  	opacity: 100% !important;
}